@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-style: border-box;
  margin: 0;
  padding: 0;
}

/* .main {
  background-color: aliceblue;
} */

/* h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: 2rem 1rem;
  font-size: 36px;
  text-align: center;
}

.query {
  margin: 1rem 2rem 1rem 8rem;
  
}

.query input {
  width: 80%;
  font-size: 20px;
  border-radius: 20px;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}

.query button {
  border-radius: 20px;
  background-color: #1081e8;
  padding: 0.9rem 2rem;
  font-size: 20px;
  border: none;
  margin: 0rem 1rem;
  color: white;
}

.query button:hover {
  opacity: 80%;
}

.result {
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 70%;
  margin: auto;
}

.result p {
  font-size: 25px;
  padding: 5px;
}

.nim {
  color: #1081e8;
}

.jurusan {
  float: right;
}

.how {
  margin: 3rem 0rem;
  text-align: center;
  color: #1081e8;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.about {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(234, 0, 255);
  font-weight: 600;
  margin-bottom: 4rem;
} */